/** CSS 3-22-15 by Arthur Mate **/

@import "http://fonts.googleapis.com/css?family=Montserrat:400,700";
@import "http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic";

body, p, ul, li, a {
  font-family:'Lato',sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family:Montserrat,sans-serif;
  color:#025B9B;
}
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
.fullWidth{
    width:100%;
    margin:0 auto;
}
h1.title{
  font-weight: 700;
}
.whatido{
  padding:75px 150px;
}
.whatido ul{
  margin:0;
  padding:0;
  list-style: none;
}
.whatido ul li{
  font-size:16px;
}
  .ma-skillz{}
  .ma-skillz span{
    display:inline-block;
    padding:5px 10px;
    margin-right:10px;
    margin-bottom: 10px;
    background-color:#19B4E7;
    border:1px solid #025B9B;
    border-radius:5px;
    box-shadow:2px 2px 5px #000;
    cursor:pointer;
    color:#fff;
    transition:all .5s ease;
  }
  .ma-skillz span:hover{
    background-color:#fff;
    color:#19B4E7;
  }
.portfolio{
  padding:75px 150px;
  background:#f9f9f9;
}
p{
  font-size:1em;
  color:#333;
}
/** font awesome icons **/
span.fa-image{
	position: relative;
}
span.fa-image:before{
	content: "\f03e";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    width:100%;
    height:100%;
    display:none;
  }
 li.fa-linked span, li.fa-email span, li.fa-twitter span, li.fa-skype span{
  position: relative;
}
li.fa-linked span:before{
  content: "\f08c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #025B9B;
    font-size: 1.5em;
    padding-right: 0.5em;
    position: absolute;
    top: -8px;
    left:-30px;
   
  }
  li.fa-email span:before{
  content: "\f0e0";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #025B9B;
    font-size: 1.3em;
    padding-right: 0.5em;
    position: absolute;
    top: -8px;
    left:-30px;
    
  } 
  li.fa-twitter span:before{
  content: "\f081";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #025B9B;
    font-size: 1.5em;
    padding-right: 0.5em;
    position: absolute;
    top: -8px;
    left:-30px;
    
  }
  li.fa-skype span:before{
  content: "\f17e";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #025B9B;
    font-size: 1.5em;
    padding-right: 0.5em;
    position: absolute;
    top: -8px;
    left:-30px;
    
  }
/** end of font awesome icons css **/

.portfolio-css .box-cont{
  position: relative;
  width:100%;
  box-shadow: 2px 3px 10px #777;
}
.portfolio-css .box-hov{
  visibility: hidden;
  opacity:0;
  position: absolute;
  height:250px;
  width:100%;
  background-color:rgba(0,0,0,0.5);
  transition:all .3s ease;
}
  .box-hov a{
      display: block;
  }
  .box-hov .search-icon{
    position: absolute;
    width:100%;
    top:35%;
    text-align: center;
  }
  .box-hov .search-icon a{
    color:#fff;
    border:2px solid #fff;
    border-radius:50%;
    padding:10px;
    display: inline-block;
    width:50px;
  }
  .box-hov .search-icon a:hover{
    background-color:rgba(25,180,231,0.3);
    border:2px solid #19B4E7;
    color:#fff;
  }
  .box-hov a.a-link{
    color:#fff;
    bottom:30%;
    font-weight: bold;
    position: absolute;
    text-align: center;
    width:100%;
  }
  .box-hov a.a-link:hover{
    color:#19B4E7;
  }
.portfolio-css img{
  width:100%;
  height:250px;
}
.portfolio-css li:hover .box-hov{
  visibility: visible;
  opacity:1;
}
.portfolio-css a:hover span.fa-image:before{
 
}
.portfolio-css li p{
  margin-top:15px;
  margin-bottom:0;
}
.portfolio-box{
  padding:20px;
  background:#fff;
  border-radius:5px;
}
a.button{
  text-transform: uppercase;
  padding:10px 15px;
  font-family: Montserrat,sans-serif;
  font-size:1em;
}
a.backtotop{
  font-size:.5em;
  padding:5px 10px;
  font-weight: 700;
  border-radius:5px;
}
.header-area{
  background:#19B4E7;
}
  .header-area h4{
    color:#f0f0f0;
    margin:0;
    padding:0;
    cursor: pointer;
    transition:all .75s ease;
    text-shadow:2px 2px 5px #777;
  }
  .header-area .logo{
    padding:20px;
  }
  .header-area .logo h4{}
  .header-area .logo i{
    color:#025B9B;
    transition:all .75s ease;
  }
  .header-area .logo span{
    color:#025B9B;
    transition:all .75s ease;
  }
  .header-area .logo h4:hover{
    color:#025B9B;
  }
  .header-area .logo h4:hover span, .header-area .logo h4:hover i{
    color:#f0f0f0;
  }
  .header-area a{
    margin:0;
  }
  .header-area .menu{
    padding:20px 0;
  }
.footer-area{
  background:#19B4E7;
}
.footer-area p{
  font-size:.8em;
  color:#f0f0f0;
  font-family: Montserrat,sans-serif;
  margin:0;
  padding:20px 0;
}
.contactme h4{
  font-weight:700;
}
.contactme{
  padding:75px 150px;
  background-color:#f9f9f9;
}
.contactme ul{
  list-style: none;
  margin:0;
  padding:0;
}
.contactme ul li{
  margin:5px 0;
}
.contactme ul li i{
  color:#025B9B;
  font-size:24px;
  margin-right:5px;
}
p.disclaimer{
  color:#999;
  font-size:.8em;
  text-align: center;
}

/** responsive css **/

@media only screen and (max-width: 40em) { 
  .whatido, .portfolio, .contactme{
    padding:20px 40px;
  }
  .header-area .menu{
    margin:0 auto;
    width:85%;
  }
  .logo h4{
    text-align: center;
    font-size: 2em;
  }
  .portfolio-css img{
    height:auto;
  }
  .portfolio-css .box-cont{
    height:250px;
    overflow: hidden;
  }
  .menu{

  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .whatido, .portfolio, .contactme{
    padding:40px 90px;
  }
  .portfolio-css img{
    height:auto;
  }
  .portfolio-css .box-cont{
    height:250px;
    overflow: hidden;
  }
}

/** end of responsive css**/